# see dotamaster/config/config.yaml for more option

postgresql:
  host        : 127.0.0.1
  port        : 5432
  username    : justin
  db          : dotastats
  password    : justin
  debug       : true
  maxIdleConns: 10
  maxOpenConns: 100


